.App {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* border: thin solid black; */
	height: 100vh;
	width: 100%;
	position: relative;
	background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

.blur-overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	z-index: 99;
	filter: blur(100px);
	background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

.dragon {
	position: absolute;
	left: 10%;
	height: 33%;
}

.envelope {
	position: absolute;
	height: 10%;
	right: 0;
	top: 200px;
}

.clouds {
	position: absolute;
	top: 0;
	left: 0;
	height: 20%;
	width: 100%;
	background-image: url('./img/clouds.png');
	background-size: contain;
	background-repeat: repeat-x;
}

.mountains {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40%;
	/* border: thin solid black; */
	width: 100%;
	background-size: contain;
	background-image: url('img/mountain-and-tree-silhouette-16.png');
	background-repeat: repeat-x;
	background-position: bottom;
}

.go-left {
	animation: infinite-left 5s forwards infinite linear;
}

.go-right {
	animation: infinite-right 5s forwards infinite linear;
}

@keyframes infinite-left {
	0% {
		background-position-x: 0vw;
	}
	100% {
		background-position-x: -100vw;
	}
}

@keyframes infinite-right {
	0% {
		right: 0;
	}
	100% {
		right: 100vw;
	}
}

.start-screen,
.trivia-screen {
	border-radius: 30px;
	box-shadow: 0 0 15px 3px #00000020;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 100;
	min-width: 50%;
	max-width: 1000px;
}

.start-screen .title {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.btn {
	text-decoration: none;
	font-size: 12pt;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	outline: none;
	margin: auto;
	text-align: center;
	padding: 10px 20px;
	border: none;
	background: #212121;
	color: white;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.start-screen .btn:hover {
	background: #ffffff;
	color: black;
}

.trivia-screen .question {
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	margin: 10px;
}

.trivia-screen .answer-list {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.trivia-screen .answer-list .answer-choice {
	border-radius: 30px;
	box-shadow: 0 0 15px 3px #00000020;
	padding: 10px 20px;
	margin: 5px;
	cursor: pointer;
	transition: 0.1s ease-in-out;
}

.trivia-screen .answer-list .answer-choice:hover {
	background: #ffffff50;
}

.correct-answer {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
