.App {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* border: thin solid black; */
	height: 100vh;
	width: 100%;
	position: relative;
	background: linear-gradient(to bottom, #b7eaff 0%, #94dfff 100%);
}

.dragon {
	position: absolute;
	left: 10%;
	/* top: 50%;
	transform: translateY(-50%); */
	height: 33%;
}

.envelope {
	position: absolute;
	height: 10%;
}

.clouds {
	position: absolute;
	top: 0;
	left: 0;
	height: 20%;
	width: 100%;
	background-image: url('./img/clouds.png');
	background-size: contain;
	background-repeat: repeat-x;
}

.mountains {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 40%;
	/* border: thin solid black; */
	width: 100%;
	background-size: contain;
	background-image: url('img/mountain-and-tree-silhouette-16.png');
	background-repeat: repeat-x;
	background-position: bottom;
}

.go {
	animation: infinite-left 5s forwards infinite linear;
}

@keyframes infinite-left {
	0% {
		background-position-x: 0vw;
	}
	100% {
		background-position-x: -100vw;
	}
}
